<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>动态域名获取IP地址.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>350D99CB1D98EF2F0074EA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350D99E41D98EF300074EA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>350D99EF1D98EF310074EA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
